{
  "root": true,
  "extends": ["airbnb", "react-app"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": 0,
    "jsx-a11y/img-has-alt": 0,
    "import/no-named-as-default": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0
  }
}