<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <title>Sign Up | Post It</title>
</head>

<body class="auth">
  <div class="signup-container jumbotron col-md-4 col-md-offset-4">
    <header>
      <h3 class="text-center">Sign up to use Post It</h3>
    </header>

    <form class="signup-form"> 
      <div class="form-group">
        <label class="control-label" for="signupEmail">Email</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="password" class="form-control" id="signupEmail" placeholder="johndoe@xyz.com">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="signupUsername">Username</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" class="form-control" id="signupUsername" placeholder="johndoe">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="signupPassword">Password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" id="signupConfirmPassword" placeholder="Password">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="signupConfirmPassword">Confirm Password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" id="signupConfirmPassword" placeholder="Password">
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info signup-btn">Sign Up</button>
      </div>
      
      <div class="text-center call-to-sign-in">
        <p>Already have an account? <a href="index.html">Sign In</p>
      </div>
    </form>
  </div>
</body>
</html>