<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>
  <link rel="stylesheet" href="css/custom.css">
  <title>Sign Up | Post It</title>
</head>
<body class='background'>
  <div class="container">
    <div class="row">
      <div class="card-panel col s10 offset-s1 m6 offset-m3 z-depth-5">
        <header class="auth-header">
          <h5 class="center">Sign up | Post It</h5>
          <!--<hr class="border-bottom">-->
        </header>

        <form class="col s12 auth-form">
          <div class="row">
            <div class="input-field auth-field col s12">
              <i class="material-icons prefix">perm_identity</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">First Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field auth-field col s12">
              <i class="material-icons prefix">perm_identity</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Last Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field auth-field col s12">
              <i class="material-icons prefix">perm_identity</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Username</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field auth-field col s12">
              <i class="material-icons prefix">email</i>
              <input id="icon_prefix" type="email" class="validate">
              <label for="icon_prefix">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field auth-field col s12">
              <i class="material-icons prefix">https</i>
              <input id="icon_prefix" type="password" class="validate">
              <label for="icon_prefix">Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field auth-field col s12">
              <i class="material-icons prefix">https</i>
              <input id="icon_prefix" type="password" class="validate">
              <label for="icon_prefix">Confirm Password</label>
            </div>
          </div>
            
          <div class="row">
            <div class="input-field col s12">
              <a href="#" class="auth-btn btn waves-effect waves-light col s12">Sign Up</a>
            </div>
          </div>
        </form> 

        <div class="center call-to-sign-in">
          <p>Already have an account? <a href="signin.html">Sign In</p>
        </div>

        <div class="form-padding-bottom"></div>
      </div>
    </div>
  </div>

   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>