<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <title>Sign Up | Post It</title>
</head>

<body>
  <div class="signup-container jumbotron col-md-4 col-md-offset-4">
    <header>
      <h3 class="text-center">Sign up to use Post It</h3>
    </header>

    <form class="signup-form"> 
      <div class="form-group">
        <label for="signUpEmail">Email address</label>
        <input type="email" class="form-control" id="signUpEmail" placeholder="example@xyz.com">
      </div>

      <div class="form-group">
        <label for="signUpUsername">Username</label>
        <input type="text" class="form-control" id="signUpUsername" placeholder="johndoe">
      </div>

      <div class="form-group">
        <label for="signUpPassword">Password</label>
        <input type="password" class="form-control" id="signUpPassword" placeholder="Password">
      </div>

      <div class="form-group">
        <label for="signUpPassword">Confirm Password</label>
        <input type="password" class="form-control" id="signUpConfirmPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</body>
</html>