$mt72 : 72px;
$pt32 : 32px;
$mt16 : 16px;
$pad40 : 40px;

.signup-container {
  margin-top: $mt72;
  padding: $pad40;
}

.signup-form {
  padding-top: $pt32;
}

.signup-btn {
  margin-top: $mt16;
}

.jumbotron p {
  font-size: $mt16;
}  

.call-to-sign-in {
  padding-top: $mt16;
}